version: "3.4"
services:
  dev:
    build:
      context: ./
      dockerfile: Dockerfile
    volumes:
      - ./:/app
    ports:
      - '3000:3000'  
    image: app
    environment:
      - name=value